<div style="position: relative;" id = "repocontainer"> <!-- container -->

  <% @repositories.each do |repo| %>
    <div class="repository" data-score="<%= repo.score %>">
      <p><%= repo.name %></p>
      <%# Other properties available: %>
      <%#  * repo.url %>
      <%#  * repo.user_avatar %>
      <%#  * repo.username %>
    </div>
  <% end %>

</div> <!-- /container -->

<script> draw() </script>
