<div class="row" style="padding-left: 60px; margin-bottom: 20px;">
  <div class="col-xs-12">
    <img src="http://placehold.it/550x200&text=your+logo+goes+here" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="lead text-center">Enter a <a href="http://github.com">GitHub</a> repository name to see a dynamically generated fork analysis for the awesomeness around it!</p>
  </div>
</div>
<div class="row" style="margin-bottom: 5px;">
  <div class="col-xs-12">
    <%= render partial: 'search_form', :locals => {:button_text => "Go for it!"} %>
  </div>
</div>
<div class="row" style="padding-left: 10px;">
  <div class="col-xs-12">
    <p data-typer-targets='{
      "targets" : [
        "Try with pktck/ParsePy, for example…",
        "Try with kohsuke/hudson, for example…",
        "Try with jenkinsci/jenkins, for example…",
        "Try with CocoaPods/Specs, for example…",
        "Try with heroku/heroku-push, for example…",
        "Try with tonymillion/Reachability, for example…",
        "Try with mxcl/homebrew, for example…",
        "Try with github/hubot-scripts, for example…",
        "Try with erica/NSDate-Extensions, for example…",
        "Try with escoz/QuickDialog, for example…"
      ]
    }' class="lead">Try with escoz/QuickDialog, for example…</p>
  </div>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-xs-12">
    <div style="border-bottom: 1px solid #eee; margin-bottom: 5px;">
      <h5 class="text-muted">What? Wait! Why?</h5>
    </div>
    <p class="text-muted"><a href="http://google.com">GitHub</a> is a powerful collaboration, code review, and code management platform for open source and private projects &mdash; as per their own description &mdash; and we couldn't agree more. That's awesome, but you know what? GitHub <a href="http://help.github.com/articles/fork-a-repo">forks</a> are even more interesting concept than the source management itself.</p>
    <p class="text-muted">Forks create a huge opportunity to everyone expressing themselves, free of restrictions of any kind: not happy? Just fork it! All of this data is also publicly available through the <a href="http://developer.github.com">API</a>.</p>
    <p class="text-muted">Where anyone would have simply seen a powerful tool to work with, we see profound greatness. We are utterly curious about where do all these forks go? How do they live their lives? Does anybody even care?!</p>
    <p class="text-muted">There are different forms to see forks (or repositories for that matter) on GitHub, but none of which can tell you what other great stuff is growing around: sometimes you will discover that someone else is just a better maintainer for a given piece of software and in some cases you will witness a whole new path that has been taken and it maybe a good time for a revolution. People get inspired by others and create even greater things that nobody would've imagined before. Sky is the limit here, truly…</p>
    <p class="text-muted"><strong>forx</strong> is a contributor app for <a href="http://railsrumble.com">2013 Rails Rumble</a> trying to answer these questions.</p>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('[data-typer-targets]').typer();
  });
</script>
