.shadow{
	height: 20px;
	background: rgba(0,0,0,.1);
	position:absolute;
	border-radius: 100%;
}

.mainrepository{
	position: absolute;
	left : 50%;
	top : 50%;
}

.repository{
	-webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px; 
		
	transition: padding .3s, bottom .3s;
	background-position:center;
	background-size:100% 100%;
}


.downanimation{
	-webkit-animation: downanimation 5s ease-in-out infinite;
	-moz-animation: downanimation 5s ease-in-out infinite;
	animation : downanimation 5s ease-in-out infinite;
	
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	transform-origin:center bottom;
	
	transition: padding .3s, bottom .3s;
}

.upanimation{
	-webkit-animation: upanimation 2s linear infinite;
	-moz-animation: upanimation 2s linear infinite;
	animation : upanimation 2s linear infinite;
	
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	transform-origin:center bottom;
	
	transition: padding .3s, bottom .3s;
}

.leftanimation{
	-webkit-animation: leftanimation 2s linear infinite;
	-moz-animation: leftanimation 2s linear infinite;
	animation : leftanimation 2s linear infinite;
	
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	transform-origin:center bottom;
	
	transition: padding .3s, bottom .3s;
}

.rightanimation{
	-webkit-animation: rightanimation 2s linear infinite;
	-moz-animation: rightanimation 2s linear infinite;
	animation : rightanimation 2s linear infinite;
	
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	transform-origin:center bottom;
	
	transition: padding .3s, bottom .3s;
}

@-webkit-keyframes leftanimation { 
	33%{ -webkit-transform:rotate(-10deg); } 
	66%{ -webkit-transform:rotate(10deg); } 
}

@keyframes leftanimation {
	33%{ transform:rotate(-10deg); }
	66%{ transform:rotate(10deg); }
}

@-webkit-keyframes downanimation {
	33%{  margin-top:5px; } 
	66%{ margin-top:0px;}
}

@keyframes downanimation {
	33%{ margin-top:5px;}
	66%{ margin-top:0px; }
}

@-webkit-keyframes upanimation{
	33%{  margin-top:-5px; } 
	66%{ margin-top:0px;}
}

@keyframes upanimation {
	33%{ margin-top:-5px;}
	66%{ margin-top:0px; }
}

@-webkit-keyframes rightanimation { 
	33%{ -webkit-transform:rotate(10deg); } 
	66%{ -webkit-transform:rotate(-10deg); } 
}

@keyframes rightanimation {
	33%{ transform:rotate(10deg); }
	66%{ transform:rotate(-10deg); }
}






