.shadow{
	width: 80%;
	height: 20px;
	background: rgba(0,0,0,.1);
	position:absolute;
	border-radius: 100%;
	margin-left: 13%;
}

.shadowupanimation{
	-webkit-animation: shadowupanimation 2s linear infinite;
	-moz-animation: shadowupanimation 2s linear infinite;
	animation : shadowupanimation 2s linear infinite;
}

.shadowmoreupanimation{
	-webkit-animation: shadowmoreupanimation 4s linear infinite;
	-moz-animation: shadowmoreupanimation 4s linear infinite;
	animation : shadowmoreupanimation 4s linear infinite;
}

.mainrepository{
	position: absolute;
	left : 50%;
	top : 50%;
}

.repository{
	-webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px; 
		
	transition: padding .3s, bottom .3s;
	background-position:center;
	background-size:100% 100%;
}
.shadowanimation
{
	-webkit-animation: shadowanimation 2s linear infinite;
	-moz-animation: shadowanimation 2s linear infinite;
	animation : shadowanimation 2s linear infinite;
}

.upanimation{
	-webkit-animation: upanimation 2s linear infinite;
	-moz-animation: upanimation 2s linear infinite;
	animation : upanimation 2s linear infinite;
	
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	transform-origin:center bottom;
	
	transition: padding .3s, bottom .3s;
}

.moreupanimation{
	-webkit-animation: moreupanimation 4s linear infinite;
	-moz-animation: moreupanimation 4s linear infinite;
	animation : moreupanimation 4s linear infinite;
	
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	transform-origin:center bottom;
	
	transition: padding .3s, bottom .3s;
}

@-webkit-keyframes moreupanimation{
	33%{  margin-top:-10px; } 
	66%{ margin-top:0px;}
}

@keyframes moreupanimation {
	33%{ margin-top:-10px;}
	66%{ margin-top:0px; }
}

@-webkit-keyframes upanimation{
	33%{  margin-top:-5px; } 
	66%{ margin-top:0px;}
}

@keyframes upanimation {
	33%{ margin-top:-5px;}
	66%{ margin-top:0px; }
}

@-webkit-keyframes shadowupanimation { 
	33%{ width:70%; margin-left:18% } 
	66%{ width: 80%; margin-left:13% } 
}

@keyframes shadowupanimation {
	33%{ width:70%; margin-left:18%}
	66%{ width:80%; margin-left:13%}
}

@-webkit-keyframes shadowmoreupanimation { 
	33%{ width:60%; margin-left:23% } 
	66%{ width: 80%; margin-left:13% } 
}

@keyframes shadowmoreupanimation {
	33%{ width:60%; margin-left:23%}
	66%{ width:80%; margin-left:13%}
}
.circlecontent:nth-child(5n+0) .repository{
	-webkit-animation-delay:100ms;
	animation-delay:1s;
}

.circlecontent:nth-child(5n+1) .repository{
	-webkit-animation-delay:1s;
	animation-delay:1s;
}

.circlecontent:nth-child(5n+2) .repository{
	-webkit-animation-delay:500ms;
	animation-delay:1s;
}
.circlecontent:nth-child(5n+3) .repository{
	-webkit-animation-delay:0s;
	animation-delay:1s;
}
.circlecontent:nth-child(5n+4) .repository{
	-webkit-animation-delay:1700ms;
	animation-delay:1s;
}

.circlecontent:nth-child(5n+0) .shadow{
	-webkit-animation-delay:100ms;
	animation-delay:1s;
}

.circlecontent:nth-child(5n+1) .shadow{
	-webkit-animation-delay:1s;
	animation-delay:1s;
}

.circlecontent:nth-child(5n+2) .shadow{
	-webkit-animation-delay:500ms;
	animation-delay:1s;
}
.circlecontent:nth-child(5n+3) .shadow{
	-webkit-animation-delay:0s;
	animation-delay:1s;
}
.circlecontent:nth-child(5n+4) .shadow{
	-webkit-animation-delay:1700ms;
	animation-delay:1s;
}



